<div class="container">
    <h1>The Hipster Music Catalogue</h1>

    <ul>
    <% flash.each do |key, msg| %>
          <%= content_tag :li, msg, id: key %>
    <% end %>
    </ul>

<p><%= link_to 'Sign in with Facebook', signin_path %></p>

    <div class="row">
        <div class="col-lg-6">
            <h3>
                Name: Ramon Rovirosa
            </h3>
            <img src="https://graph.facebook.com/ramonrovirosa/picture?type=large">
        </div>
        <div class="col-lg-6">
            <h3>Hipster Rankings</h3>
            <table class="table table-striped">
                <tr>
                    <th>Friend</th>
                    <th>Hipster Rank</th>
                    <th>Hipster Score</th>
                </tr>
                <tr>
                    <td>Friend 1</td>
                    <td>1</td>
                    <td>Score</td>
                </tr>
                <tr>
                    <td>Friend 2</td>
                    <td>2</td>
                    <td>Score</td>
                </tr>
                <tr>
                    <td>Friend 3</td>
                    <td>3</td>
                    <td>Score</td>
                </tr>
                <tr>
                    <td>Friend 4</td>
                    <td>4</td>
                    <td>Score</td>
                </tr>
                <tr>
                    <td>Friend 5</td>
                    <td>5</td>
                    <td>Score</td>
                </tr>
                <tr>
                    <td>Friend 6</td>
                    <td>6</td>
                    <td>Score</td>
                </tr>
                <tr>
                    <td>Friend 7</td>
                    <td>7</td>
                    <td>Score</td>
                </tr>
                <tr>
                    <td>Friend 8</td>
                    <td>8</td>
                    <td>Score</td>
                </tr>
                <tr>
                    <td>Friend 9</td>
                    <td>9</td>
                    <td>Score</td>
                </tr>
                <tr>
                    <td>Friend 10</td>
                    <td>10</td>
                    <td>Score</td>
                </tr>
            </table>

        </div>
    </div>
</div>
