body{
    text-align: center;
}
table{
    text-align: left;
}

.progress{
	margin: 30px;
	//margin-top: 15px;
}

#button_div{
	margin-top: 15px; 
}

#hipster1{
	positioning: absolute;
	top: 100px;
	left: 100px;
}

#hipster1div{
	positioning: relative;
}

#thetable{
	margin-left: auto;
	margin-right: auto;
}
.profilePic{
	height:35px;
}